pipeline/PL_looup_activity_copy1_folder.json
{
	"name": "PL_looup_activity_copy1_folder",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select foldername from Tbl_outputfolder",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_Lookup_tbl_outputfolder",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Emp_Input_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Lookup_output_location",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@activity('Lookup1').output.firstRow.foldername",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"foldername": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control-Flow-Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-27T07:55:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}